.Home {
  display: flex;
  padding: 4.5rem 0 5rem;
  align-items: center;
  
}

.home input {
  width: 638px;
  padding: 1rem;
  margin-left: 30%;
  gap: 8px;
  background-color: var(--gray-600);
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  
}

.home button {
  background-color: var(--blue-700);
  color: var(--gray-100);
  font-size: 14px;
  font-weight: 700;
  width: 90px;
  height: 52px;
  top: 1px;
  left: 646px;
  border-radius: 8px;
  padding: 16px;
  gap: 8px;
  border: none;
}