.newTasks {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1.75rem;
}

.newTasks input[type=text] {
  width: 39.875rem;
  height: 3.75rem;
  border: 1px solid var(--gray-900);
  background: var(--gray-500);
  color: var(--gray-300);
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: transparent;
  
}
.newTasks input[type=text]:focus {
  border: 2px solid (var(--purple-500));
  
}

.newTasks button[type=submit]{
  background-color: var(--blue-600);
  color: var(--gray-100);
  font-size: 14px;
  font-weight: 700;
  height: 3.75rem;
  top: 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.counter {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 4rem auto 1.5rem;
  padding: 16px;
  
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46rem;
    
  }
  
  .created p {
    color: var(--blue-300);
    font-weight: 700;
    gap: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .created span {
    padding: 2px 8px;
    background-color: var(--gray-opacity-400);
    color: var(--gray-200);
    font-weight: 700;
    border-radius: 999px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .doneTasks p {
    color: var(--purple-300);
    font-weight: 700;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .doneTasks span {
    background-color: var(--gray-opacity-400);
    color: var(--gray-200);
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 999px;
    gap: 10px;
  }
 
 
  
