.tasklist {
  width: 100%;
  max-width: 736px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem auto 0;
}

.list {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-500);
  border-radius: 0.5rem;
  margin: 0.75rem 0;
  color: var(--gray-100);
  border: 1px solid var(--gray-opacity-400);
}

.list input {
    display: block;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--blue-300);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 16px 16px 32px 16px;
}

.list input:focus{
  outline: none;
  border: 2px solid var(--blue-300);
}

.list input:checked {
    background-color: var(--purple-300);
    border: none;
    padding: 0.6rem;
}

label {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

label span{
  width: 362px;
  padding-top: 0.5rem;
  line-height: 1.6;
}

label button {
  background: transparent;
  border:24px;
  color: var(--gray-400);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px;
}

.list button:hover {
  color: var(--red-500);
}


  


  