.counter {
  width: 46rem;
  margin: 4rem auto 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 350px;
}

.created p {
  color: var(--blue-300);
  font-weight: 700;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.created span {
  padding: 2px 8px;
  background-color: var(--gray-opacity-400);
  color: var(--gray-200);
  font-weight: 700;
  border-radius: 999px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.doneTasks p {
  color: var(--purple-300);
  font-weight: 700;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.doneTasks span {
  background-color: var(--gray-opacity-400);
  color: var(--gray-200);
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 999px;
  gap: 10px;
}
