.tasklist {
  width: 100%;
  max-width: 736px;
  margin: 4rem auto 1.5rem;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 72px;
  background: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  color: var(--gray-300);
  outline: transparent;
  border: 1px solid var(--gray-900);
  font-weight: 400;
}

.tasklist span {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.tasklist svg {
  align-self: flex-start;
  color: var(--gray-300);
}
.tasklist svg:hover {
  color: var(--red-500);
}
