.counter {
  width: 46rem;
  margin: 4rem auto 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 350px;
}

.created p {
  color: var(--blue-300);
  font-weight: 700;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.created span {
  padding: 2px 8px;
  background-color: var(--gray-opacity-400);
  color: var(--gray-200);
  font-weight: 700;
  border-radius: 999px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.doneTasks p {
  color: var(--purple-300);
  font-weight: 700;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.doneTasks span {
  background-color: var(--gray-opacity-400);
  color: var(--gray-200);
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 999px;
  gap: 10px;
}

.list {
  height: 4.5rem;
  width: 46rem;
  border: 1px solid #333333;
  background: #262626;
  color : var(--gray-100);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
  margin-top: 24px;
}

.list input {
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--blue-300);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.list input:focus{
  outline: none;
  border: 2px solid var(--blue-300);
}

.list input:checked {
    background-color: var(--purple-300);
    border: none;
}

.list label {
  text-align: center;
}

.list button {
  background: transparent;
  border:0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}
